.timer {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border: 1px solid rgb(194, 194, 194);
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  cursor: default;
}

.timer.block {
  display: flex;
}