header {
  background-color: #2196F3;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.089);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.start-btn {
  width: 130px;
  height: 36px;
  padding: 10px 16px;
  border: none;
  background: #F2F9FE;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #2196F3;
}

.about-btn,
.settings-btn {
  width: 96px;
  height: 100%;
  color: white;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.about-btn:hover,
.settings-btn:hover {
  background-color: rgba(30, 136, 229, 1);
} 
